<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Presentation.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <globalization uiCulture="en" culture="en-US" />
      <pages controlRenderingCompatibilityVersion="4.0">
        <controls>
          <add tagPrefix="custom" namespace="Core" assembly="Core" />
          <add tagPrefix="ss" tagName="lesson" src="~/_Controls/Lesson.ascx" />
          <add tagPrefix="ss" tagName="league" src="~/_Controls/League.ascx" />
          <add tagPrefix="ss" tagName="tournament" src="~/_Controls/Tournament.ascx" />
          <add tagPrefix="ss" tagName="clinic" src="~/_Controls/Clinic.ascx" />
          <add tagPrefix="ss" tagName="advertisement" src="~/_Controls/Advertisement.ascx" />
          <add tagPrefix="ss" tagName="sidebar" src="~/_Controls/Sidebar.ascx" />
        </controls>
      </pages>
      <customErrors mode="Off" defaultRedirect="~/Down.aspx">
        <error statusCode="404" redirect="~/Down.aspx"/>
      </customErrors>
    </system.web>

  <!-- Variables needed in every environment -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <!-- The path to the root of the application (used for sub-directories in IIS) -->
    <add key="RelativePath" value=""/>

    <!-- The path to the root of the application (used for sub-directories in IIS) -->
    <add key="PageTitle" value="NEO Sports Plant"/>

    <!-- The path to the web service of the CMS -->
    <add key="WebServiceURL" value="http://localhost:57713/Browser.asmx"/>

    <!-- The path to the web service of the CMS -->
    <add key="TimeZone" value="Eastern Standard Time"/>

    <!-- The path to the web service of the CMS -->
    <add key="EmailIsHTML" value="False"/>

    <!-- Sport AssetIDs -->
    <add key="IndoorSandVolleyball" value="47"/>
    <add key="IndoorVolleyball" value="16"/>
    <add key="Basketball" value="17"/>
    <add key="Baseball" value="17"/>
    <add key="Soccer" value="17"/>
    <add key="Bocce" value="110"/>
  </appSettings>
  <connectionStrings>
    <add name="DB" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=neosportsplant;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="Local" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=neosportsplant;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Prod" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL01,1786;initial catalog=neosports;user id=neosports;password=indians;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <applicationSettings>
    <Presentation.Web.Properties.Settings>
      <setting name="Presentation_Web_WebServiceCMS_Browser" serializeAs="String">
        <value>http://localhost:57713/Browser.asmx</value>
      </setting>
    </Presentation.Web.Properties.Settings>
  </applicationSettings>
</configuration>
