<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Presentation.CMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <pages validateRequest="false"/>
      <customErrors mode="Off"/>
      <globalization uiCulture="en" culture="en-US" />
    </system.web>
  <appSettings>
    <add key="Title" value="Testing" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <!-- The path to the local database -->
    <add key="DataDirectory" value="\Data\"/>

    <!-- The path to the root of the application (used for sub-directories in IIS) -->
    <add key="RelativePath" value=""/>

    <!-- The path to the root of the application (used for sub-directories in IIS) -->
    <add key="ImagePath" value="/img"/>

    <!-- The path to the web service of the client -->
    <add key="WebServiceURL" value="http://localhost:52740/Browser.asmx"/>

    <!-- The path to the website of the client -->
    <add key="WebSiteURL" value="http://localhost:52740"/>
  </appSettings>
  <connectionStrings>
    <add name="DB" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Database.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="Project" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Database.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Local" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=neosportsplant;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Prod" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL01,1786;initial catalog=neosports;user id=neosports;password=indians;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
  </connectionStrings>
  <applicationSettings>
    <Presentation.CMS.Properties.Settings>
      <setting name="Presentation_CMS_WebServiceClient_Browser" serializeAs="String">
        <value>http://localhost:52532/Browser.asmx</value>
      </setting>
    </Presentation.CMS.Properties.Settings>
  </applicationSettings>
</configuration>
