@media (max-width: 1500px) {
    /* Desktops */
    h4.masthead-title {
        font-size: 28px;
    }
    .btn-jumbo {
        padding: 7px 10px;
        font-size: 16px;
    }
}
@media (max-width: 992px) {
    /* Tablets */
    .logo {
        display: none;
    }
    .logo-sm {
        display: inline;
    }
    h4.masthead-title {
        font-size: 20px;
    }
    .masthead-text {
        padding-top: 5px;
    }
}
@media (max-width: 768px) {
    /* Phones */
    .logo {
        display: inline;
    }
    .logo-sm {
        display: none;
    }
    p {
        font-size: 11px;
    }
}
