.browser-top-left {
    position: absolute; 
    top: 0px; 
    height: 20px; 
    left: 10px; 
    width: 250px; 
    overflow: hidden;
}
.browser-bottom-left {
    position: absolute; 
    top: 20px; 
    bottom: 60px; 
    left: 10px; 
    width: 250px; 
    overflow: auto;
}
.browser-top-right {
    position: absolute; 
    top: 0px; 
    height: 100px; 
    left: 275px; 
    right: 25px; 
    overflow: hidden;
}
.browser-bottom-right {
    position: absolute; 
    top: 100px; 
    bottom: 60px; 
    left: 275px; 
    right: 25px; 
    overflow: hidden; 
    border: dashed 1px #CCC;
}
.browser-delete {
    position: absolute;
    right: 5px;
    bottom: 5px;
}